<div class="facet">
<span class="nav-title" data-facetname="{{title}}">{{facet_displayname title}}</span><br>
{{#each navs}}
<a href='#' title='{{@key}} ({{this}})'>{{@key}}</a> ({{this}})<br/>
{{/each}}
</div>
