<div class="clearfix">
{{#if previous}}
<a href="{{previous}}">&laquo; Previous</a>
{{else}}
&laquo; Previous
{{/if}} |
{{first}} - {{last}} of {{count}} |
{{#if next}}
<a href="{{next}}">Next &raquo;</a>
{{else}}
Next &raquo;
{{/if}}
<hr>
</div>
